body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    padding:0 20px;
    background-color: rgb(255, 243, 228);
    border-radius: 6px solid;
    border: 1px solid rgb(255, 243, 228);
    position:sticky;
}
section{
    border-radius: 6px;
    background-color: rgb(255, 243, 228);
    border:0px solid;
    margin:30px;
    width: auto;
    padding:20px;
    width: auto; 
   
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    float: left;
}
h2{
    margin: auto;
}
ul{
    list-style: none;
}
li{
    display: block;
}

